
 @font-face { font-style : bold; src: url("assets/fonts/JosefinSansRomanBold.ttf"); font-family : "Josefin Sans"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/JosefinSansRomanRegular.ttf"); font-family : "Josefin Sans"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/JosefinSansRomanSemiBold.ttf"); font-family : "Josefin Sans"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/JosefinSansRomanLight.ttf"); font-family : "Josefin Sans"; font-weight : 300;  }